<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="2">
    <Properties>
        <Property name="instance">spring-boot-log</Property>
        <Property name="log.dir">D:\Study\temp\log</Property>
    </Properties>
    <!-- 定义所有的appender -->
    <Appenders>
        <!--输出到控制台-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--过滤器：控制输出日志的级别-->
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--输出日志的格式-->
            <PatternLayout
                    pattern="[%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n][%class][%line]:%message%n"/>
        </Console>
        <!--输出到文件-->
        <File name="log" fileName="D:/logs/log4j2.log" append="false">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <!--输出到RollingRandomAccessFile-->
        <RollingRandomAccessFile name="infoLog" fileName="${log.dir}/${instance}-info.log"
                                 filePattern="${log.dir}/%d{yyyy-MM}/${instance}-info-%d{yyyy-MM-dd}-%i.log.gz"
                                 append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <!--过滤器-->
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <!--策略-->
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="info" includeLocation="true">
            <AppenderRef ref="log"/>
        </Root>
        <!-- pattern layout actually uses location, so we need to include it -->
<!--        <AsyncLogger name="com.coolway" level="info" includeLocation="true">-->
<!--            <AppenderRef ref="infoLog"/>-->
<!--        </AsyncLogger>-->
        <AsyncLogger name="com.coolway" level="info" includeLocation="true">
            <AppenderRef ref="Console"/>
        </AsyncLogger>
        <!-- 第三方的软件日志级别 -->
        <!--        <logger name="org.springframework" level="info" additivity="true">-->
        <!--            <AppenderRef ref="warnLog"/>-->
        <!--            <AppenderRef ref="errorLog"/>-->
        <!--        </logger>-->
        <!--        <logger name="java.sql.PreparedStatement" level="debug" additivity="true">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--        </logger>-->
    </Loggers>

</Configuration>